.hover {
	cursor: pointer;
}

/*NAVIGATION*/

#front-nav {
	background-color: white;
	height: 250px;
	font-size: 2em;
	line-height: 1em;
	margin-top: 15px;
}



/*HOME*/



/*body {
	background-color: rgb(255, 0, 50) !important;
}*/

#home-wrapper a {
	color: white !important;
}

.clearfix {
	clear: both;
}

.footer-content {
	margin-bottom: 50px;
	font-weight: 100 !important;
}

#home-wrapper {
	margin-top: 100px;
	color: white;
	font-weight: 100 !important;
}

#home-wrapper h3 {
	font-weight: 100 !important;
}

.spacer-50 {
	height: 50px;
}

/*USERS*/


/*PAGES*/


/*ARTISTS*/


.artist-card {
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 20px;
}

.artist-card img {
	object-fit: cover;
	min-width: 100%;
	max-width: 100%;
	max-height: 120px;
	min-height: 120px;
}

.artist-banner img {
	min-width: 100%;
    max-height: 600px;
    object-fit: cover;
}

.text-banner {
	height: 400px;
	display: table;
	overflow: hidden;
	margin: 0 auto;
}

.text-banner .v-align {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.text-banner h1 {
	font-size: 30px;
}

/*RELEASES*/

.release-card {
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 20px;
}

/*.release-single-content{
	padding: 1px 20px 10px 20px;
	position: relative;
	z-index: 10;
	background-color: white;
	max-width: 700px;
	margin: 0 auto;
	min-height: 50px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	border: 20px solid #86b3ce;
}*/

.release-banner img {
	min-width: 100%;
	margin: auto;
}


/*LINKS*/

.edit-links {
	text-align: center;
}

.edit-links p {
	background-color: green;
	margin: 5px;
	padding: 5px 0;
	color: white;
	text-transform: uppercase;
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

	.event-row {
		padding: 10px;
		font-size: 14px;
	    /*font-size: 2vw;*/
	}

	.event-row div {
		padding: 0px 20px 0px 20px;
	}

	.no-side-padding {
		padding-right: 15px;
		padding-left: 15px;
	}

	.release-banner {
		margin-top: 80px;
		margin-bottom: 80px;
	}

	.release-banner img {
		max-width: 300px;
		min-width: 300px;
	}

	.track-list {
		padding: 0 40px 0 40px;
	}

	.artist-single-content, 
	.release-single-content, 
	.page-single-content {
		margin-bottom: 40px;
	}

	.event-row:hover {
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		cursor: pointer;
		/*background-color: #86b3ce;*/
	}

}